/* styles.css */


body {
  background: #1b3a57;;
  color: #041e498e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;  
}

a {
  text-decoration: none;
}

.light-mode-navbar {
  background:#ffb300;
  color:white
}
.dark-mode-navbar {
  background:#669df6fa;
  color:white
}

.light-mode {
  background: #fdfdfde1;
  color:#000000;
  border-radius:2%
}
.dark-mode {
  background: #112537c9;
  color:rgb(255, 255, 255);
  border-radius:2%
}